<app-employeecount *ngIf="emplist"  [All]="GetAllEmployeeCount()" [Male]="GetMaleEmployeeCount()" [FeMale]="GetFeMaleEmployeeCount()"
  (countRadioButtonSelectionChanges)="OnEmployeeCountRadioButtonChanged($event)">
</app-employeecount>

<div id="div1" style="float: left;">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>BirthDate</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let emp of emplist">
        <tr *ngIf="selectedEmployeeCountRadioButton=='All' || selectedEmployeeCountRadioButton==emp.Gender">
          <td>{{emp.Id}}</td>
          <td>{{emp.Name}}</td>
          <td>{{emp.Age}}</td>
          <td>{{emp.Salary}}</td>
          <td>{{emp.BirthDate}}</td>
          <td>{{emp.Gender}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
